body {
    background-color: #dddedd;
    font-family:'Roboto', sans-serif;
}

.header {
    background-color: #0277BD;
    color: #ffffff;
    box-shadow: 0 10px 6px -6px gray;
    font-family:'Roboto', sans-serif;
}

#title > div > h1{
    font-size: 1.8em;
    color: #ffffff;
    text-transform: uppercase;
    margin:0;
}
#title > div {
    font-size: 1.2em;
    color: #ffffff;
    font-weight: 100;
    padding: 2px 20px;
}

.main {
    margin: 20px 0;
    text-align: center;
}

/*Page 1*/

/*Page 2*/
.dateBtns, .finalBtns, .dateChoices, .eventBtns {
    height: 20vh;
    margin: 1vh 0;
}

.dateChoicesContainer, .dateContainers , .finalDivContainer, .eventContainers, .eventChoices {
    height: 70%;
    background-color: #0992A3;
    text-align: center;
    box-shadow: 0 10px 6px -6px gray;
}

/*Page 3*/

/*Page 4*/
.eventBtns{

}

/*Page 5*/
.finalBtns {

}
.finalBtns .nameContainers{

}

.finalDivContainer{
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
}


@media only screen and (min-width: 768px){
    .dateBtns, .dateChoices, .eventBtns, .finalBtns {
        height: 35vh;
    }
}

@media only screen and (max-width: 768px){
    .finalBtns {
        height: 30vh;
    }
}
.flickrImg {
    width: 100%;
    height: 100%;
}

.nameContainers{
    background-color: #ffffff;
    color: #595959;
    font-size: 1.5em;
    position: relative;
    height: 30%;
}

.dateContainers {
    background-size: cover;
    background-repeat: no-repeat;
}

.dateChoicesContainer .eventContainers{
    background-size:80%;
    background-repeat:no-repeat;
    background-position: center;
}


#final_2 {
    width: 100%;
    height: 100%;
}
